$bgCol: #FFF;
$bgColAlt: #EBEBEB;
$fontCol: #000;

$borderColor: #b7b7b7;
$basePadding: 1.6rem;

.dataTable {
  composes: responsive from "../../../css/generic.scss";

  color: $fontCol;
}

.table {
  width: 100%;
  border: 0.1rem solid $borderColor;
  border-top: none;
  margin-top: $basePadding / 2;
  border-spacing: 0;
  border-collapse: separate;
}

.thead {
  font-weight: bold;
}

.tbody {

}

.th {
  font-size: 1.65rem;
  vertical-align: middle;
  height: 4rem;
  padding: $basePadding / 2;
  text-rendering: geometricPrecision;
  text-decoration: none;
  outline: none;
  border-left: 0.1rem solid $borderColor;
  border-top: 0.1rem solid $borderColor;
  text-align: center;
  white-space: nowrap;
  position: relative;

  &:first-child {
    border-left: 0;
  }
}

.columnSortBtn {
  border: 0;
  background: transparent;
  padding: 0;
  white-space: inherit;
  display: block;
  width: 100%;
  text-align: inherit;
  padding-right: $basePadding;
  padding-left: $basePadding;
}

.columnSortBtnAsc {
  composes: columnSortBtn;
}

.columnSortBtnDesc {
  composes: columnSortBtn;
}

.columnLabel {
  composes: columnSortBtn;
}

.thEven {
  composes: th;
}

.tr {
  background: $bgCol;
}

.trEven {
  composes: tr;
  background: $bgColAlt;
}

.td {
  font-size: 1.55rem;
  line-height: 1.0;
  border-left: 0.1rem solid $borderColor;
  border-top: 0.1rem solid $borderColor;
  vertical-align: top;
  padding: $basePadding / 2;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:first-child {
    border-left: 0;
  }
}

.tdEven {
  composes: td;
}

.tdHeader {
  display: none;
}

.tfootTD {
  background: $borderColor;
}

/* Stacked styles */

.stacked,
.tableStacked,
.tbodyStacked,
.trStacked,
.tfootStacked,
.tfootRowStacked,
.tfootTDStacked {
  color: #006600;
  display: block;
}

//Put table header offscreen
.theadStacked {
  composes: offscreen from "../../../css/generic.scss";

  display: block;
}

.trStacked {

}

.tdStacked {
  display: flex;
  flex: auto 1 1;
  border-left: 0;
  text-align: left;
  padding: 0;
}

//show cell headers
.tdStacked > .tdHeader {
  display: block;
  flex: 50% 0 0;
  max-width: 35rem;
  font-weight: bold;
  padding: $basePadding/2;
  border-right: 1px solid $borderColor;
}

.tdStacked > .tdContent {
  flex: 50% 1 1;
  padding: $basePadding/2;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
