.test {

}

.fontBold {
  font-weight: bold;
}

.title {
  background-color: #DDD;
  font-size: 40px;
  /* composes: edit highlight from './edit.css';
  composes: button from 'library/button.css'; */

}

.p {
  color: #933;
  composes: fontBold;
}
