@import '../../../css/shared';

$paginationCol: $fontCol;
$bgCol: $grey0;
$bgColAlt: $grey20;

$paginationBasePadding: $basePadding;

$minWidth: 3.0rem;

.pagination {
  vertical-align: top;
}

.page {
  color: $fontCol;
  font-size: 1.65rem;
  line-height: 2.5rem;
  border: 0;
  background: transparent;
  padding: $paginationBasePadding/4 $paginationBasePadding/2;
  min-width: $minWidth;
  text-align: center;
  display: inline-block;
  margin: 0 0;
  vertical-align: middle;
  font-weight: bold;

  @include textInteraction($mouseBg: $grey35);

}

.prevBtn {
  composes: page;
  font-weight: normal;
  font-size: 1.8rem;
}

.nextBtn {
  composes: prevBtn;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.current {
  background: $grey40;
  pointer-events: none;
}

.spacer {
  color: $paginationCol;
  font-size: 1.9rem;
  margin: 0 $paginationBasePadding/4;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
