@import '../../../css/shared';

$tabsCol: $fontCol;
$tabsBorderCol: $borderCol;
$tabsBasePadding: $basePadding;


.tabs {
  composes: responsive from "../../../css/generic.scss";

  color: $tabsCol;
}

.tabsList {
  white-space: nowrap;
}

.tab {
  border: 0.1rem solid $tabsBorderCol;
  padding: $tabsBasePadding/4 $tabsBasePadding/2;
  margin: 0 2px -0.1rem;
  background: $grey20;
  cursor: pointer;
  font-size: 1.6rem;

  @include blockInteraction($mouseBg: $grey35);

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.tab.selected {
  background: $grey30;
}

.tabPanels {
  border: 0.1rem solid $tabsBorderCol;
}

.header {
  display: none;
}

$transitionTime: 0.4s;

.panel {
  opacity: 0;
  pointer-events: none;
  display: inline-block;
  width: 100%;
  margin-right: -100%;
  vertical-align: top;
  transition: opacity $transitionTime/2 linear;

  will-change: opacity;
}

.panel.selected {
  pointer-events: auto;
  opacity: 1;
  transition: opacity $transitionTime/2 linear $transitionTime/2;
}


//////////////////////
// accordion styles //
//////////////////////
.tabs.accordion {
  border: 0.1rem solid $tabsBorderCol;
  //border-width: 0 0.1rem;
  border-bottom: 0;
}

.tabPanels.accordion {
  border: 0;
  padding: 0;
}

.header.accordion {
  display: block;
  color: inherit;
  font-size: 1.6rem;
  //border-bottom: 0.1rem solid $tabsBorderCol;
  //border-bottom: 0;

  border-bottom: 0.1rem solid $tabsBorderCol;

}

.header.selected {

}

.headerButton {
  display: block;
  background: $grey20;
  border: 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: $tabsBasePadding/4 $tabsBasePadding/2;

  @include blockInteraction($mouseBg: $grey35);
}

.headerButton.selected {
  background: $grey30;
}

$accordionTransitionTime: 0.3s;

.panel.accordion {
  //resetting from tabs styles
  border: 0;
  opacity: 1;
  width: auto;
  display: block;

  //general accordion styles
  overflow: hidden;
  margin: -0.1rem 0 0;
  will-change: height;
  border-bottom: 0.1rem solid $tabsBorderCol;

  //transition styles
  height: 0;
  transition: height $accordionTransitionTime linear;
}

.panel.accordion.selected {
  //
  height: auto;
}

//tab content styles
.tabContent {
  padding: $tabsBasePadding/2;
}
