@import '../../../css/shared';

$tabsCol: $fontCol;
$tabsBorderCol: $borderCol;
$tabsBasePadding: $basePadding;


.tabs {
  composes: responsive from "../../../css/generic.scss";

  color: $tabsCol;
}

.tabsList {
  white-space: nowrap;
}

.tab {
  border: 0.1rem solid $tabsBorderCol;
  padding: $tabsBasePadding/4 $tabsBasePadding/2;
  margin: 0 2px -0.1rem;
  background: $grey20;
  cursor: pointer;
  font-size: 1.6rem;

  @include blockInteraction($mouseBg: $grey35);

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.tab.selected {
  background: $grey30;
}

.tabPanels {
  border: 0.1rem solid $tabsBorderCol;
  padding: $tabsBasePadding/2;
}

.panel {
  visibility: hidden;
  display: inline-block;
  width: 100%;
  margin-right: -100%;
  vertical-align: top;
}

.panel.selected {
  visibility: visible;
}


//////////////////////
// accordion styles //
//////////////////////
.tabs.accordion {
  border: 0.1rem solid $tabsBorderCol;
  border-bottom: 0;
}

.tabPanels.accordion {
  border: 0;
  padding: 0;
}

.header {
  color: inherit;
  font-size: 1.6rem;
  border-bottom: 0.1rem solid $tabsBorderCol;
}

.header.selected {

}

.headerButton {
  display: block;
  background: $grey20;
  border: 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: $tabsBasePadding/4 $tabsBasePadding/2;

  @include blockInteraction($mouseBg: $grey35);
}

.headerButton.selected {
  background: $grey30;

}

.panel.accordion {
  border: 0;
  visibility: visible;
  display: none;
  width: auto;
  margin: 0;
  padding: $tabsBasePadding/2;
}

.panel.accordion.selected {
  display: block;
  border-bottom: 0.1rem solid $tabsBorderCol;
}
