@import '../../node_modules/modern-normalize/modern-normalize.css';
@import 'global';
@import 'wysiwyg';

html, body {
  font-family: sans-serif;
  font-size: 10px;
}

:focus {
  outline: 0;
}

button:focus {
  background: #6F6;
}
