@import 'vars';
@import 'functions';
@import 'mixins';


%vspaceStart {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: (-$rowSpace);

  > * {
    margin-bottom: $rowSpace;
  }
}

%hspaceStart {
  display: flex;
  flex-flow: row wrap;
  margin-top: (-$rowSpace);
  margin-left: (-$columnSpace);

  > * {
    margin-top: $rowSpace;
    margin-left: $columnSpace;
  }

  :global(.rtl) & {
    flex-flow: row-reverse wrap;
  }
}
