@import '../../../css/shared';


.panel {
  @include panel;

  display: flex;
  flex-flow: column nowrap;
}

.header {
  background: $grey30;
  border-bottom: 0.1rem solid $grey50;
  padding: $basePadding/2;
  display: flex;

  border-radius: $basePadding/2 $basePadding/2 0 0;

  @include clearfix;
}

.title {
  margin: 0;
  padding: 0;
  flex: auto 1 1;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: bold;
}

.headerBtns {
  flex: auto 0 0;
  margin: -1px;
}

.body {
  padding: $basePadding/2;
  overflow: auto;
}

.footer {

}
