@import '../../../css/shared';

.systemMap {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(../../../assets/images/bg.png) repeat;
}

//svg styles
:global(.systemBody) {
  &.star {
    fill: #FDFF00;
  }

  &.gasGiant {
    fill: #6666CC;
  }

  &.planet {
    fill: #3333FF;
  }

  &.moon {
    fill: #4444FF;
  }

  &.asteroid {
    fill: #999;
  }
}

.systemBodyLabel {
  //stroke: #FFF;
  fill: #FFF;
  font: normal 12px sans-serif;
  text-anchor: middle;
}
