@import '../../../css/shared';

.systemMap {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(../../../assets/images/bg.png) repeat;
  outline: 0!important;

  &:focus {
    outline: 0!important;
  }
}

//svg styles
:global(.systemBody) {
  &.star {
    fill: #FDFF00;
  }

  &.gasGiant {
    fill: #6666CC;
  }

  &.planet {
    fill: #3333FF;
  }

  &.moon {
    fill: #4444FF;
  }

  &.asteroid {
    fill: #999;
  }
}

.systemBodyLabel {
  fill: #FFF;
  font: normal 12px sans-serif;
  text-anchor: middle;

  //filter: url(#textShadow);
}

.orbit {
  stroke: #FFF;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
  fill: none;
}
