@import '../../../css/shared';


.researchQueueList {
  @include panel();
  margin: 0 0 $basePadding;
  padding: $basePadding / 2;
  list-style: none;
  background: $grey20;

  > * {
    margin: 0 0 $basePadding/2;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
