@import '../../../css/shared';


.researchQueueList {
  @include panel();
  margin-bottom: $basePadding;

  > * {
    margin-top: $basePadding/2;

    &:first-child {
      margin-top: 0;
    }
  }
}
