@import '../../../css/shared';



.windowIndustry {

}

.title {
  margin-top: 0;
}

.structures {
  margin-top: 0;
}

.queue {
  margin-top: 0;


}

.add {
  @include panel;

  padding: $basePadding/2;
}
